.vs/
.idea/
.vscode/
build/
build-*/
out/
install/
publish/
packages/
.cache/
bin/
obj/
CMakeFiles/
CMakeCache.txt
cmake-build-*/
CMakeUserPresets.json
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.log
*.dmp
*.pdb
*.ilk
*.obj
\.desto-build-number
*.exe
*.dll
*.lib
*.exp
TestResults/
artifacts/
Testing/
build-verify/
dist/
dist-release/
