#include <winver.h>

#define IDI_DESTO_ICON 101
#define DESTO_STRINGIZE_DETAIL(value) #value
#define DESTO_STRINGIZE(value) DESTO_STRINGIZE_DETAIL(value)
#define DESTO_VERSION_STRING \
    DESTO_STRINGIZE(DESTO_VERSION_MAJOR) "." \
    DESTO_STRINGIZE(DESTO_VERSION_MINOR) "." \
    DESTO_STRINGIZE(DESTO_VERSION_PATCH) "." \
    DESTO_STRINGIZE(DESTO_VERSION_BUILD)

IDI_DESTO_ICON ICON "../assets/desto.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DESTO_VERSION_MAJOR,DESTO_VERSION_MINOR,DESTO_VERSION_PATCH,DESTO_VERSION_BUILD
 PRODUCTVERSION DESTO_VERSION_MAJOR,DESTO_VERSION_MINOR,DESTO_VERSION_PATCH,DESTO_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "Desto Project"
            VALUE "FileDescription", "Desto"
            VALUE "FileVersion", DESTO_VERSION_STRING
            VALUE "InternalName", "Desto"
            VALUE "OriginalFilename", "Desto.exe"
            VALUE "ProductName", "Desto"
            VALUE "ProductVersion", DESTO_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
